@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{

    min-height: 100vh;
    background: #1d1d1f;
    font-family: "IBM Plex Sans", sans-serif;
}